%section.box
  %p
    Maciej Mielcarek - urodzony w 1990 roku w Bydgoszczy, gdzie ukończył I Liceum Ogólnokształcące.
    Aktualnie mieszka w Trójmieście, poświęcając większość czasu na studiowanie mechatroniki na Politechnice Gdańskiej.
    Miłośnik literatury kryminalnej oraz autor niekonwencjonalnych teorii.
    W wieku 19 lat postanowił stworzyć własne dzieło, udowadniając, że światy humanistów i umysłów ścisłych wcale nie są tak odległe.
  %p
    Jego pisarski styl charakteryzuje się rzadko spotykanym na polskim rynku połączeniem precyzyjnej intrygi z lekkością jej opisu,
    co zapewnia wciągającą i przyjemną lekturę.
    Twierdzi, że dobra książka kryminalna przede wszystkim powinna dostarczać czytelnikowi rozrywki, usilnie zmuszać do rozpoczęcia kolejnego rozdziału,
    a po ostatniej stronie zostawiać go z otwartymi ze zdziwienia ustami.
    W książce Mielcarka aspekty te występują w dawce, po której pojawiają się wątpliwości, co do poczytalności autora,
    a sarkazm i odpowiednio dozowany poziom humoru dbają o dobre samopoczucie odbiorcy.
  %p
    Obecnie jest najmłodszym autorem powieści kryminalnych w Polsce.
    Według niektórych opinii prezentuje nową, niespotykaną dotychczas wśród rodzimych pisarzy jakość,
    która gwarantuje przeżycie z książką bezprecedensowej przygody.

