%section.box
  .sec
    %p.mid Czy jedna osoba może zniszczyć cały świat?
    %p.mid Może. Wystarczy, że dla kogoś jest całym światem.

  .sec
    %p
      Kilka słów, zapisanych na kartce papieru, rujnuje wszystko, co Wiktor,
      dwudziestodwuletni student z Gdańska, uważał za swoje życie.
      Jego dziewczyna – Nina niespodziewanie kończy ich długoletni związek,
      burząc najsolidniejszy z fundamentów podtrzymujących jego spokojną codzienność.
      Po kilku dniach w nowej, nieprzyjaznej rzeczywistości, Wiktor dowiaduje się
      o tajemniczym zniknięciu dziewczyny i z konieczności podejmuje się próby jej odnalezienia.
      Z każdym kolejnym krokiem poszukiwań odkrywa, że w sprawę wplątanych jest więcej osób,
      a droga do odszukania Niny prowadzi przez długie aleje cmentarza jego najpiękniejszych wspomnień.
      Czy wszystko co ich łączyło mogło być tylko sprytnie spreparowaną iluzją?
      Czy chęć ukrycia niewygodnej prawdy może być cenniejsza niż ludzkie życie?



  .sec
    %h3 Krótki opis:

    %p
      Książka, poza kryminalnym aspektem prowadzonego poszukiwania, które jest jej solidnym szkieletem,
      z przymrużeniem oka przedstawia absurdalną polską rzeczywistość,
      poważne i odrobinę mniej poważne przemyślenia dotyczące życia,
      a także dotyka częściowo zupełnie normalnych dla ludzkiego umysłu zjawisk,
      uznawanych powszechnie za paranormalne.
      Ta, wydawać by się mogło, wybuchowa mieszanka doprawiona jest solidną dawką humoru -
      od niemal prymitywnego do nieco bardziej wysublimowanego,
      zdolnego sprostać wymaganiom nawet najbardziej wybrednych Czytelników.
      Dzięki temu „Algorytm snu” serwuje im garść wyśmienitej rozrywki,
      uwieńczonej nietypowym, zaskakującym zakończeniem.


    %p
      „Algorytm snu” jest „skomplikowaną, humorystyczną i wciągającą powieścią kryminalną o zabarwieniu miłosnym,
      wzbogaconą ironicznym opisem polskiej rzeczywistości, widzianej oczami marudnego dwudziestolatka”
      (reakcja jednej z pierwszych czytelniczek ).

