%section.box
  /= form_tag do
  /  .input.field
  /    = label_tag "Imie"
  /    = text_field_tag :name
  /  .input.field
  /    = label_tag "Email"
  /    = text_field_tag :email
  /  .input.text
  /    = label_tag "Treść"
  /    = text_area_tag :body
  /  .input.actions
  /    = submit_tag "Wyślij"

  .sec
    %p.mid
      Książka dostępna jest na allegro:
      <a href="http://allegro.pl/ksiazka-algorytm-snu-maciej-mielcarek-kryminal-i1825488980.html">http://allegro.pl/ksiazka-algorytm-snu-maciej-mielcarek-kryminal-i1825488980.html</a>

  .sec
    %p.mid
      Oraz bezpośrednio u autora - kontakt poprzez adres: <a href="mailto:algorytmsnu@gmail.com">algorytmsnu@gmail.com</a>

  .sec
    %p.mid
      Do tradycyjnych księgarni książka trafi dopiero za kilka miesięcy.

  .sec
    %p.mid
      Wszelkie pytania, opinie, recenzje, skargi, listy miłosne i pogróżki
      również proszę przesyłać na adres: <a href="mailto:algorytmsnu@gmail.com">algorytmsnu@gmail.com</a>
