%section.box
  %p.mid Jako reklama, 21 pierwszych rozdziałów książki do ściągnięcia!
  %p.mid Dla zdrowia oczu i komfortu czytania polecamy ich wydrukowanie.

  %p.download.mid= link_to "Pobierz książkę", "/AlgorytmSnu.pdf"
