%section.box
  %h2 Jakiś nagłówek na dzień dobry
  %p Plus test normalnego tekstu, info powitalne czy łutewa.

%ul
  - for news in @news
    %li
      %section.box
        %h3= news.title
        %small= news.created_at.to_time.to_s(:long)
        %div= news.content
