%section.box
  %h2 Algorytm snu - Maciej Mielcarek - Premiera już wkrótce!

%section.box
  %p.mid= image_tag "/AlgorytmSnuOkladka.png"

- unless @news.empty?
  %ul
    - for news in @news
      %li
        %section.box
          %h3= news.title
          %small= news.created_at.to_time.to_s(:long)
          %div= news.content
