html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,section,summary,time,mark,audio,video { /* removed center, font, applet, big, s, u, tt, strike, menu &amp; acronym as they are depreciated in html5 */
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight:normal
}
ol, ul, nav ul {
    list-style:none
}
blockquote, q {
    quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none
}
ins {
    text-decoration:none
}
del {
    text-decoration:line-through
}
table {
    border-collapse:collapse;
    border-spacing:0
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display:block /*html5 elements */
}
input, select {
    vertical-align:middle
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help
}
hr {
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0
}
input[type='submit'],input[type='button'],input[type='text'],input[type='tel'],input[type='email'],input[type='url'] {
    font:inherit
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border:0 /*remove dotted outline in Firefox on buttons and input buttons */
}
*:focus {outline:none!important;} /*remove webkit focus outline */
input {margin:0;} /*remove 2px border across top of input */
